@font-face {
    font-family: 'geogrotesque_mdmedium';
    src: url('../fonts/geogtq-md-webfont.eot');
    src: url('../fonts/geogtq-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-md-webfont.woff') format('woff'),
         url('../fonts/geogtq-md-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-md-webfont.svg#geogrotesque_mdmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
button,
input,
select,
textarea {
    color: #039;
}
body {
    font-family: "geogrotesque_mdmedium", Helvetica, Arial, sans-serif;*/
    font-size: 1em;
    line-height: 1.4;
    margin-left: 0;
    padding-left: 0;
    margin: auto;
    background-attachment: fixed;
    margin: auto;
    background-size: cover;
}
.content {
    padding: 15px 30px 20px;
    float:left;
    margin-left: 22%;
    background-color: #c9c9c9;
    width: 55%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
label {
    display: block;
    float: left;
    width: 10em;
    text-align: right;
    margin-right: .5em;
    color: #04699d;
}
/* Styling for button */
.button
{
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eee, #ccc);
    background-image: -moz-linear-gradient(top, #eee, #ccc);
    background-image: -ms-linear-gradient(top, #eee, #ccc);
    background-image: -o-linear-gradient(top, #eee, #ccc);
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.1em;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    border-radius: .2em;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
a.button.delete
{
  float: right;
  margin: 4px 0px 0px 0px;
}
.button:hover
{
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}
.button:active
{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
}

.button:focus
{
    outline: 0;
    background: #fafafa;
}

.button:before
{
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;
    width: 0.8em;
    text-align: center;
    font-size: 1em;
    margin: 0 1.4em 0 -1.5em;
    padding: 0 .5em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;
}

/* Buttons and inputs */
button.button, input.button
{
  cursor: pointer;
  overflow: visible; /* removes extra side spacing in IE */
}

/* removes extra inner spacing in Firefox */
button::-moz-focus-inner
{
  border: 0;
  padding: 0;
}

/* If line-height can't be modified, then fix Firefox spacing with padding */
input::-moz-focus-inner
{
  padding: .4em;
}

/* The disabled styles */
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover
{
  background: #eee;
  color: #aaa;
  border-color: #aaa;
  cursor: default;
  text-shadow: none;
  position: static;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* checkbox */
.check-box {
    width: 20px;
    position: relative;
}
.check-box label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #fcfff4;
}
.check-box label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content:'';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.check-box label:hover::after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.check-box input[type=checkbox]:checked + label:after {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.persona-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.persona-signin .persona-signin-header {
  margin-bottom: 10px;
}

.save {
  padding: 0px 3px;
  margin-top: 3px;
}

.well-small:hover {
  background-color: #ddd;
}

